container {
    display: flex;
    padding-bottom: 1%;
}

/* nav bar */
.nav {
    text-align: center;
}

.nav-item {
    flex-basis: 16.66%;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}

.searchHistoryBtn {
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    width: 100%;
    height: 100%;
}

/* future forcast box */
.futureForcast {
    flex-basis: 20%;
    border: solid;
    margin-right: 1%;
    margin-left: 1%;
}

/* targets future icon weather all */
.futureIconWeather {
    height: 5.75em;
}

/* text search history */
#searchHistory {
    line-height: inherit;
}

