.carousel {
    padding-bottom: 7%;
}

/* target arrow whole area */
.carousel-control-next {
    width: 25%;
    height: 82.86%;
}

.carousel-control-prev {
    width: 25%;
    height: 82.86%;
}

/* target arrows */
.carousel-control-next-icon {
    background-image: url(https://static.thenounproject.com/png/634840-200.png);
}

.carousel-control-prev-icon {
    background-image: url(https://static.thenounproject.com/png/634840-200.png);
    transform: scaleX(-1);
}

/* targets the button slides */
.carousel-indicators [data-bs-target] {
    background-color: black;
}

/* targets future icon weather all */
.futureIconWeather {
    height: 5.75em;
}

#carouselInner {
    text-align: center;
    border: solid;
    margin-left: 25%;
    width: 50%;
}
